@model TelefonRehberi

@{
    ViewData["Title"] = "Create";
}



<h4>Telefon Rehberi Formu</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RehberId" />

            <div class="form-row col-md-12">
                <div class="form-group col-md-6">
                <label asp-for="Ad" class="control-label"></label>
                    <input style="float:left asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-6">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
                </div>
            </div>
            <br>

            <div class="form-row">
                <div class="form-group col-md-5">
                <label asp-for="Telefon_Numarasi" class="control-label"></label>
                <input asp-for="Telefon_Numarasi" class="form-control" />
                <span asp-validation-for="Telefon_Numarasi" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group col-md-5">
                <label asp-for="Fax_Numarasi" class="control-label"></label>
                <input asp-for="Fax_Numarasi" class="form-control" />
                <span asp-validation-for="Fax_Numarasi" class="text-danger"></span>
                </div>
            </div>          
            <br>
            
            <div class="form-group col-md-5">
                <label asp-for="E_Mail" class="control-label"></label>
                <input asp-for="E_Mail" class="form-control" />
                <span asp-validation-for="E_Mail" class="text-danger"></span>
            </div>

            <br>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <input style="float:left" type="submit" value="Kaydet" class="btn btn-primary btn-block col-md-6" />
                </div>
                <div class ="form-group col-md-5">
                    <a asp-action="Index" class="btn btn-secondary btn-block col-md-6"><i class="fa fa-table"></i>Listeye Geri Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>




